<?xml version="1.0" encoding="utf-8" ?>
<earth>
  <searchurl>https://epic.gsfc.nasa.gov/api/natural/date/</searchurl>
  <imagepath>https://epic.gsfc.nasa.gov/archive/natural/</imagepath>
  <wallpaperstyle>
    <style TileWallpaper="0" WallpaperStyle="10" active="true">Filled</style>
    <style TileWallpaper="1" WallpaperStyle="1" active="false">Tiled</style>
    <style TileWallpaper="0" WallpaperStyle="2" active="false">Stretched</style>
    <style TileWallpaper="0" WallpaperStyle="1" active="false">Centered</style>
  </wallpaperstyle>
  <besttime active="true" maxhours="4">10:00:00</besttime>
  <maxretry>15</maxretry>
</earth>